/* Add legend colors to article tags */
.select2-selection__choice:nth-of-type(1) { background: #bccbda !important; }
.select2-selection__choice:nth-of-type(2) { background: #e0ad91 !important; }
.select2-selection__choice:nth-of-type(3) { background: #c1aa78 !important; }
.select2-selection__choice:nth-of-type(4) { background: #8da075 !important; }
.select2-selection__choice:nth-of-type(5) { background: #998a6f !important; }

/* Fix chart position */
.aqs-chart { 
  margin-left: -12px;
}

/* Fix date range selector style */
.aqs-date-range-selector {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
  line-height: 25px;
  padding: 0 10px 0 10px;
}

/* Improve vertical spacing */
.aqs-row {
padding-bottom: 10px;
}

/* Avoid select2 collapsing with narrow screens */
.aqs-article-selector {
width: 100% !important;
}
